*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
.navbar {
    display: flex; /*Lineup entire menu and logo side by side */
    justify-content: space-between; /*Push menu far apart from logo as possible*/
    align-items: center;
    background-color: #333; /*Navigation menubar background Color*/
    color: white;
}
.brand_logo{
    font-size: 1.5rem; /*1.5 times root font size*/
    margin: .5rem; /*Line up .5 times root font size from the screen*/
    color: wheat;
}
.navbar_menu ul{
    margin: 0;
    padding: 0;
    display: flex; /*Allign menu list side by side */
}
.navbar_menu li{
    list-style: none; /*Remove list syle*/
}
.navbar_menu li a {
    text-decoration: none; /*Remove underline of anchor tag in menu*/
    color: white; /*Set color of a tag to white*/
    padding: 1rem;
    display: block; /*Show menu link in larger size*/
}
.navbar_menu li:hover {
    background-color: #555;
}
.toggle_button {
    position: absolute; /*Place Hamburger menu on the right most side of the screen*/
    top: .75rem; /*Push 0.75rem from the top of the screen*/
    right: 1rem; /*Push 1rem from the right of the screen*/
    display: none; /*Hide from larger screen*/
    flex-direction: column; /*All of the span line on top of each other*/
    justify-content: space-between; /*Have as much as space between each element inside toggle button*/
    width: 30px;
    height: 21px;
}
.toggle_button .bar{
    height: 3px; /*Make line of height 3px*/
    width: 100%; /*Make the line to take 100% of width inside the container*/
    background-color: white;
    border-radius: 10px;
}

.navbar_menu li ul {
    display: none;
    background-color:#333;
    flex-direction: column;
    position: absolute;
    width: fit-content;
}
.navbar_menu ul li:hover > ul{
    display: flex;
}
@media (max-width: 600px){ /*Run code only if the screen size less than 600px wide*/
    .toggle_button {
        display: flex;
    }
    .navbar_menu {
        display:none;
        width: 100%; /*Expand the ul item container to take 100% width*/
    }
    .navbar{
        flex-direction: column; /*Places brand logo and menu on top of each other*/
        align-items: flex-start; /*Places brand logo and menu on left side of the screen*/
    }
    .navbar_menu ul{
        width: 100%; /*Make ul expand 100%*/
        flex-direction: column; /*Stack menu on top of each other*/
    }
    .navbar_menu ul li{
        text-align: center; /*Align text of menu on the center*/
    }
    .navbar_menu ul li a{ 
        padding: .5rem 1rem; /*Remove padding on the menu list*/
    }
    .navbar_menu.active {
        display: flex;
    }
    .navbar_menu li ul {
        position: relative;
        width: 100%;
    }
}

header {
    height: 100vh;
    background-image: url('image/mainimg.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.header_content {
    margin-bottom: 120px;
    padding: 5px;
    position: absolute;
}
.learnmore {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    background-color: #333;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.7s;
}
.learnmore img{
    width: 30px;
    display: none;
}
.learnmore:hover img{
    display: block;
}
.learnmore:hover {
    right: 0;
    width: 160px;
    margin: 0 auto;
    display: flex;
    background-color: #555;
    align-items: center;
    justify-content: space-between;
}

/*Our Services*/
.ourservices{
    text-align: center;
}
.ourservices h1{
    display: inline-block;
    border-bottom: 4px solid wheat;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
}
.service_container{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.service{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
}
.service:hover{
    background: #555;
    color: white;
}
.service h2{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.service p{
    font-size: 15px;
    font-weight: 500;
}
@media screen and (max-width: 800px) {
    .service{
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    .service{
        width: 100%;
    }
}

/*Contact Us Section*/
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
form{
    background:white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    color: black;
    margin-bottom: 25px;
    text-align: center;
    border-bottom: 4px solid wheat;
}
form input,textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}
form button{
    padding: 15px;
    background: #333;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
form button:hover{
    background: #555;  
}

/*About page*/
.about_container{
    padding: 20px;
}
.about_container h1,h2,h4{
    margin: 0px;
    text-align: center;
}
.about_container h3{
    display: inline-block;
    border-bottom: 4px solid wheat;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 0px;
}
.about_container table{
    margin-left: auto;
    margin-right: auto;
}
/*Footer section*/
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 20px;
    color: white;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .footer_container .sec{
    margin-right: 30px;
}
footer .footer_container .sec.aboutus{
    width: 40%;
}
footer .footer_container h3{
    position: relative;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .footer_container h3:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background:wheat;
}
.aroundtheweb ul{
    padding-left: 0px;
}
.socialmedia{
    margin-top: 20px;
    display: flex;
}
.socialmedia li{
    list-style: none;
}
.socialmedia li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 100px;
}
.socialmedia li a:hover{
    background:wheat;
}
.socialmedia li a .fa{
    color: white;
    font-size: 20px;
}
.contactus{
    position: relative;
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contactus ul{
    padding-left: 0px;
}
.contactus ul li{
    list-style: none;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.contactus ul li a{
    text-decoration: none;
    color: white;
}
.contactus ul li a:hover{
    color: wheat;
}
.copyright{
    width: 100%;
    background: black;
    padding: 1px 1px;
    text-align: center;
    color: white;
}